.service-header{
    font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  background: linear-gradient(to right, #e3e1e5, #933ab3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-align: center;
  margin: 20px 0;
}
 .all-boxes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 10px;
   margin-bottom: 3rem;
    background-color: white;
    box-shadow: 4px 3px 4px 3px gainsboro;
    height: auto;
   margin-bottom: 20px;
   padding: 3px;
   
 }
.box{
    height: 200px;
    width: 300px;
    padding:10px;
}

 .box h2{
    text-align: center;
    font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;

}
 .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 }

 img{
    height: 170px;
    width: 230px;
    border-radius: 30%;
    padding: 10px;
 }

 @media (max-width: 768px){

  
 .all-boxes{
   
    gap: 3px;
  
   
 }

  .box{
    height: 100px;
    width: 120px;
    padding:4px;
}

 .box h2{
    text-align: center;
    font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;

}
 .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
 }

 img{
    height: 80px;
    width: 100px;
    border-radius: 30%;
    padding: 4px;
 
   
 }
 .box p{
  font-size: 12px;
 }

 }
